html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/*
====================================================
                    HERO
==================================================== */

.container {

    & .hero {
        position: relative;
        min-height: 100svh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: 1.2s ease;
        
        &.blur {
            filter: blur(10px);
        }


        & .hero_bg {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 119%;
            object-fit: cover;
            object-position: 39%;
            z-index: 0;
            transform: scale(1.2);

        }

        & .hero_title {
            display: flex;
            flex-direction: column;
            position: absolute;
            height: 65%;
            width: 70%;
            z-index: 2;
            text-align: left;
            color: white;
            line-height: 1.1;
            
            & span {
                font-size: 2rem;
                font-family: var(--fontSecondary);
                font-weight: 300;
            }

            & h1 {
                font-size: 4rem;
                letter-spacing: 1px;
                font-family: var(--fontPrimary);
                font-weight: 700;

            }
            & .btn_hero_explorer {
                display: flex;
                justify-content: center;
                font-family: var(--fontSecondary);
                width: clamp(120px, 50%, 220px);
                text-align: center;
                border-radius: 15px;
                border: 1px solid var(--lightColor);
                background-color: transparent;
                color: var(--lightColor);
                padding: 0.3rem 0.5rem;
                cursor: pointer;
                margin-top: 1rem;

                &:hover {
                    background-color: var(--outlinerColor);
                    border: none;
                    box-shadow: 0.5px 0.5px 15px var(--outlinerColor);
                }
            }
        }
    }
/* ===== Hero Responsive ============================== */
/*  nao houve necessidade de medias */
/* ===================================================== */


/*
====================================================
                    Section HUB
==================================================== */

    .hub {
        display: flex;
        flex-direction: column;
        
        & .hub_item {
            font-family: var(--fontSecondary);
            letter-spacing: 0.3rem;
            overflow: hidden;
            position: relative;
            min-height: 50vh;
            width: 100%;
            

            & .hub_img_photo {
                height: 100%;
                width: 102%;
                
                position: absolute;
                inset: 0;
                background-image: url(../assets/img/hub_photo3.jpg);
                background-size: cover;
                transform-origin: top;
                background-position: left 32%;
                transform: scale(1.55);
                transition: transform 0.3s ease;
                

            }
            & .hub_img_dev {
            height: 100%;
            width: 110%;

            position: absolute;
            inset: 0;
            transform: scale(1.55);
            object-fit: cover;
            object-position: 102% 36%;
            transition: transform 0.3s ease;
            opacity: 0.5;
            }

            & .hub_content {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                z-index: 2;

            
                & .hub_subtitle {
                    margin-top: 0.4rem;
                    font-weight: 500;
    
                }
                & .btn_hub_explorer {
                    padding: 0.5rem;
                    margin-top: 2.5rem;
                    background-color: transparent;
                    width: 45%;
                    font-family: var(--fontSecondary);
                    font-size: 1.4rem;
                    font-weight: lighter;

                    
                    
                    &.photo {
                        color: black;
                        font-weight: 500;
                        border: 1px solid black;
                    }
                    &.dev {
                        color: var(--lightColor);
                        font-weight: 500;
                        border: 1px solid var(--lightColor);
                    }
                }
            }
            &.photo {
                color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
            }
            &.dev {
                color: white;
                background-color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
            }
            
        }
    }


/*
====================================================
                    RESPONSIVE HUB
==================================================== */

    @media (min-width: 678px){
        .hub_item.photo, .hub_item.dev {
            aspect-ratio: 16/9;
            height: 100vh;
        }
        
        .hub_img_photo, .hub_img_dev {
            aspect-ratio: auto;
            background-size: cover;
            background-position: bottom 10%;
        }
        .btn_hub_explorer {
            max-width: 400px;
        }
    }



/*  ==================================================== */
/*
====================================================
                    Sessão ABOUT
==================================================== */
    .about {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100dvh;
        overflow: hidden;
        background-color: #727272;
        .about_img {
            position: relative;
            height: 70%;
            display: flex;
            
            img {
                position: absolute;
                height: 100%;
                inset: 0;
                object-fit: cover;
                object-position: 56% 18%;
                transform-origin: 20% 86%;
                width: 100%;
                transform: scale(1.2);
                filter: contrast(1.5);
                opacity: 0.6;
                -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
                mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
                
            }

            h2 {
                position: absolute;
                color: var(--lightColor);
                font-family: var(--fontPrimary);
                font-size: 3.3rem;
                padding: 0.5rem 1.5rem;
                
            }
            span {
                font-size: 3.5rem;
            }

        }
        .about_content {
            height: 48%;
            width: 100%;

            .about_description {
                font-family: var(--fontSecondary);
                color: var(--lightColor);
                padding: 0 3rem;
                font-size: 1rem;
                line-height: 1.7;
            }
        }
    }


}