/* Main */
header {
    display: none;
}
/* Pagina em manutenção */

.hero {
    position: relative;
    z-index: 0;
    font-size: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    

    

    .bg {
        position: absolute;
        inset: 0;
        z-index: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 20% 56%;
        transform-origin: 90% 99%;
        transform: scale(1.5);
        
        
        
    }
    .content {
        position: relative;
        z-index: 2;
        h1 {
            font-family: var(--fontSecondary);
            font-size: 2.8rem;
            font-weight: 600;
            margin-bottom: 1rem;
            color: white;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.636);
            
        }
        p {
            color: var(--lightColor);
            max-width: 400px;
            font-size: 1.7rem;
            margin-bottom: 2rem;
            color: #ffffff;
            line-height: 1.5;
            position: static;

        }
        .btn {
            padding: 10px 20px;
            border: 1px solid var(--lightColor);
            text-decoration: none; 
            color: var(--lightColor);
            cursor: pointer;
            
            
        }
    }
    
   
}
/*
====================================================
                    Manutenção Responsivo 
==================================================== */



